<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/71d880897d.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://bootswatch.com/4/flatly/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="shortcut icon" href="/imgs/logo.png" />

    <!-- Code Highlighting -->
    <link rel="stylesheet" href="/stylesheets/prism.css" />

    <!-- editor -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-166686180-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-166686180-1');
    </script>

    <title><%= title %></title>
  </head>
  <body>
    <div class="header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <a class="navbar-brand" href="/"
            ><img
              src="/imgs/logo.png"
              alt="logo"
              style="height: 50px; width: 50px;"
          /></a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-item nav-link active" href="/">Home</a>
              <a class="nav-item nav-link" href="/articles/new">New Blog</a>
            </div>
            <div class="navbar-nav second ml-auto">
              <% if (!currentUser) {%>
              <a class="nav-item nav-link" href="/users/login">Login</a>
              <a class="nav-item nav-link" href="/users/register">Sign Up</a>
              <% } else{%>
              <div class="user-icon mr-3 nav-item">
                <a href="/articles/user/profile/<%= currentUser.name %> "
                  ><%= currentUser.name.charAt(0) %>
                </a>
              </div>
              <a href="/users/logout" class="btn btn-secondary ml-auto"
                >Logout</a
              >
              <% } %>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="container main">
      <%- body %>
    </div>
    <%- script %>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
