<a href="/" class="btn btn-info mt-5">All Articles</a>
<% if(currentUser && article.author.id.equals(currentUser._id)) { %>
<a href="/articles/edit/<%= article.id %> " class="btn btn-secondary mt-5"
  >Edit</a
>
<form
  action="/articles/<%= article.id %>?_method=DELETE"
  method="POST"
  class="d-inline mt-5"
>
  <button class="btn btn-danger mt-5">Delete</button>
</form>
<% } %>

<p class="user mt-3">
  <i class="fas fa-user-circle mr-1"></i> <%= article.author.username %>
</p>
<h1 class="article-title mt-1"><%= article.title %></h1>
<p class="read-time"></p>
<div class="mb-2">
  <i class="far fa-calendar-alt mr-2"></i><%=
  article.createdAt.toLocaleDateString()%>
</div>
<div class="mt-3 mb-3 article-body">
  <%- article.sanitizedHtml %>
</div>

<a
  href="/articles/<%= article.slug %>/comments/new "
  class="btn btn-success mt-4"
  >Add Comment</a
>

<div class="card p-3 mt-2 mb-4">
  <% article.comments.forEach(comment => { %>
  <div class="card m-2">
    <div class="card-body">
      <div class="card-title">
        <p class="user m-0">
          <i class="fas fa-user-circle mr-1"></i>
          <%= comment.author.username %>
        </p>
        <span class="d-block text-right">10 days ago</span>
        <p class="card-text"><%= comment.text %></p>

        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
        <a
          href="/articles/<%= article.slug %>/comments/<%= comment._id %>/edit  "
          class="btn btn-outline-primary btn-sm"
          >Edit</a
        >
        <form
          action="/articles/<%= article.slug %>/comments/<%= comment._id %>?_method=DELETE"
          method="POST"
          class="d-inline"
        >
          <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
        </form>

        <% } %>
      </div>
    </div>
  </div>
  <% }) %>
</div>

<script src="/js/countable.js"></script>
<script src="/js/app.js"></script>
<script src="/js/prism.js"></script>
